* {
    box-sizing: border-box;
}

.App {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
}

header {
    width: 100%;
    background-color: #A691DA;
    padding: 10px 20px;
}

h1 {
    text-transform: uppercase;
}

aside {
    position: fixed;
    padding: 10px;
    margin: 0 10px 10px 10px;
    border-radius: 15px;
    background-color: #A691DA;
}

main {
    margin-top: 20px;
}

.jobBoard {
    margin: 0;
    padding: 0;
    margin-left: 200px;
    position: relative;
}

ul {
    list-style: none;
    display: block;
    padding: 0;
    margin: 0;
}

.listJobItem {
    background-color: #A691DA;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
}

.listJobItemButtons {
    display: flex;
}

.listJobItem:first-child {
    margin-top: 0;
}

.editButton {
    background-image: url(images/edit.svg);
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: center;
}

.removeButton {
    background-image: url(images/delete.svg);
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: center;
}

.addButton img {
    width: 35px;
    height: 35px;
    vertical-align: middle;
}

.basket {
    margin-top: 2.5em;
}

.basket img {
    width: 35px;
    height: 35px;
}

button,
select {
    width: 150px;
    height: 50px;
    margin-bottom: 15px;
    font-size: 20px;
    border-radius: 15px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    outline: none;
}

.type{
    height: auto;
    width: auto;
    font-size: 14px;
    margin-right: 12px;
    border-radius: 15px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    background-color: #eeeaea;
    padding: 10px 1rem;
    margin-top: 0;
    text-align: center;
    align-items: center;
}

.description{
    text-align: left;
    font-size: 18px;
}

.topicButton{
    width: auto;
    min-width: 150px;
}

button:active,
select:active {
    border-color: grey;
}

aside ul li:nth-child(3) {
    height: 40px;
    margin: 0;
}

aside ul li:last-child {
    margin-top: 10rem;
}

.jobBoard button {
    height: 40px;
    font-size: 20px;
    margin-right: 12px;
}

.jobBoard .editButton,
.jobBoard .removeButton {
    width: 40px;
}